.search {
  display: flex;
  justify-content: center;
  &__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    h5 {
      padding: 15px;
    }
  }
  &__map {
    min-width: 50%;
    min-height: calc(100vh - 56px);
    position: sticky;
    border-left: 3px solid #e0e0e0;
    border-right: 3px solid #e0e0e0;
    box-shadow: $box-shadow-mui;
  }
}
.map-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  width: 100%;
  height: 100%;
}

.chargers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  align-content: center;

  gap: 20px;
  padding: 20px;
  width: 100%;
}
div.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  justify-self: center;
  background: #d8d8d190;
  border: 1px solid #c4c4c4;
  border-radius: 15px;
  box-shadow: $box-shadow-mui;
  max-width: 350px;
  button {
    border-radius: 10px;
  }
}

@media only screen and (max-width: $tablet-width) {
  .search {
    width: 100%;
    &__cards {
      width: 100%;
    }
  }

  .card {
    max-width: 350px;
  }

  // .chargers {
  //   display: grid;
  //   grid-template-columns: repeat(auto-fit, minmax(1fr, 200px));
  //   gap: 20px;
  //   padding: 20px;
  // }
}

// TODO: Fix grid for 1 charger, always taking up the entire width
// -> Need to change this so when there's 1 charger a max-width of 300px is set,
// and aligns the grid items horizontally

// @media only screen and (max-width: $tablet-width) {
//   .chargers {
//     place-self: center;
//     // justify-content: center;
//   }
//   .card {
//     max-width: 350px;
//   }
// }
