@import "variables";

.page-container {
  position: relative;
  margin: 0 1em 2em;
}

div.MuiTableContainer-root {
  border: none;
}

.host-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em 0;
  padding: 10px;
  border-radius: 4px;
  width: 250px;
  border: 2px solid #e0e0e0;
  box-shadow: $box-shadow-mui;
  text-align: center;
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 2em;
}

th.table-header {
  color: #fff;
  background: linear-gradient(#5da361, $mui-primary);
  border: 1px solid $mui-primary;
  padding: 1em 1.5em;
}

td.extra-cell {
  vertical-align: middle;
  font-weight: 600;
  background: #f1f1f1;
}

tr.MuiTableRow-hover {
  cursor: pointer;
  &:hover {
    background: #2e7d3225 !important;
  }
}

// mobile & tablet text content
div.MuiButtonGroup-root {
  display: inline-flex;
  justify-content: center;
}
div.MuiButtonGroup-root span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 100%;
}

@media only screen and (max-width: $tablet-width) {
  td.extra-cell {
    padding: 0px;
    & button {
      border-radius: 4px;
    }
  }
}

@media only screen and (min-width: $tablet-width) {
  td.extra-cell {
    padding: 8px;
  }
}
