/* Break Points (Width) */
$mobile-width: 375px;
$tablet-width: 799px;
$laptop-width: 1366px;
$desktop-width: 1920px;

/* Colors */
$color-500: #d4a373;
$color-400: #ccd5ae;
$color-300: #fefae0;
$color-200: #e9edc9;
$color-100: #faedcd;
$mui-primary: #2e7d32;
$color-link-hover: #00000015;
$color-on-click: #ffffff95;

/* Transition */
$transition-fast: 0.2s ease-in-out;
$transition-slow: 0.5s ease-in-out;
/* Box Shadow */
$box-shadow1: rgba(0, 0, 0, 0.2) 0px 2px 4px,
  rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -2px 0px inset;
$box-shadow1-variant: rgba(0, 0, 0, 0.2) 0px 0px 2px,
  rgba(0, 0, 0, 0.3) 0px 2px 13px -3px, rgba(0, 0, 0, 0.2) 0px 0px 0px inset;
$box-shadow2: $color-link-hover 0px 0px 12px 3px;
$box-shadow-mui: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
