.search {
  display: flex;
  justify-content: center;
  &__cards {
    display: flex;
    flex-direction: column;
    min-width: 50%;
  }
  &__map {
    min-width: 50%;
    height: calc(100vh - 56px);
    position: sticky;
    top: 56px;
    #map {
      height: 100%;
      width: 100%;
      background: yellow;
    }
  }
}
.chargers {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  flex-shrink: 1;
}
.card {
  /* !important used to override MUI styles */
  color: #fff !important;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 250px;
  max-width: 300px;
  margin: 10px;
  flex: 1 1 150px;
  background: #00814095 !important;
}
