@import "variables";

.host-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2em 0;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  border: 2px solid #e0e0e0;
  box-shadow: $box-shadow2;
  text-align: center;
  
}