@import 'mixins';

/* Break Points (Width) */
$mobile-width: 375px;
$tablet-width: 800px;
$laptop-width: 1366px;
$desktop-width: 1920px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: red;
}

input[name='searchbar'] {
  width: 35%;
  border-radius: 15px;
  padding: 5px;
}

.menu-btn {
  &:hover {
    cursor: pointer;
  }
}

.logo {
  position: absolute;
  left: 45%;
}

/* Media Queries */
@media screen and (min-width: $tablet-width) {
  .mobile-nav {
    display: none !important;
  }
}
