@import "mixins";
@import "variables";
@import "cssLoader";
@import "chargerCard";
@import "nav";
@import "dashboard";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  color: red;
}

header {
  z-index: 999;
}

footer {
  color: #000;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
  width: 100vw;
}

/* Charger Detail Classes */
.flex-box {
  display: flex;
  // justify-content: space-between;
  // align-items: center;
  // flex-direction: row;
}

.flex-horizon {
  flex-direction: row;
}

.flex-vert {
  flex-direction: column;
}

.detailImage {
  max-width: 450px;
  margin-top: 25px;
}

.errorMessage {
  background-color: bisque;
  margin: auto;
  padding: 1em;
  max-width: 450px;
}

// #appbar {
//   display: flex !important;
//   justify-content: center;
//   width: 100vw;
// }
/* Signup/Signin Form */
// form {
//   margin-left: 100px;
// }

/* Media Queries */
// @media screen and (min-width: $tablet-width) {
//   .mobile-nav {
//     display: none !important;
//   }
// }
